{{#if userInSession}}
  <h2>Welcome, {{userInSession.firstName}} {{userInSession.lastName}}!</h2>
  <img src="{{userInSession.profileImage}}" />
  <p>This is your profile page {{userInSession.username}}!</p>
  <button>
    <a href="/userProfile">Reload the page</a>
  </button>
  <button>
    <a href="/userProfile/{{userInSession._id}}/edit">Edit Profile</a>
  </button>
{{else}}
  <p>Still no logged in user, sorry!</p>
{{/if}}