
<div id="form">
  <h2>Edit Profile</h2>
  <form action="/userProfile/{{userInSession._id}}/edit" method="POST" enctype="multipart/form-data">
   <label>Image:
          <input type="file" name="profileImage" class="form-control-file" />
          <input type="text" name="existingImage" hidden value="{{userInSession.profileImage}}">
    <label>
      First name
      <input type="text" name="firstName" placeholder="James" value="{{userInSession.firstName}}"/>
    </label>

    <label>
      Last name
      <input type="text" name="lastName" placeholder="Cook"  value="{{userInSession.lastName}}"/>
    </label>

    <label>
      Username
      <input type="text" name="username" placeholder="James Cookies"  value="{{userInSession.username}}" required/>
    </label>

    <label>
      Email
      <input type="email" name="email" placeholder="james-cook@world.com"  value="{{userInSession.email}}" required/>
    </label>

    <label>
      Password
      <input type="password" name="password" placeholder="********" required/>
    </label>

    <button type="submit">Save changes</button>

    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
  <form action="/userProfile/{{userInSession._id}}/delete" method="POST">
  <button>Delete account</button>
  </form>
</div>
