
{{#if post.length}}
{{#each post}}
<ul>
    <li>
        <h2> <a href="/explore/posts/{{_id}}">{{this.title}}</a></h2>
ยก
    </li>
    <li>
        {{this.location}}
    </li>
    <li>
        {{this.duration}} days
    </li>
    <li>
        {{this.typeOfTrip}}
    </li>
</ul>
{{/each}}

{{else}}
{{/if}}


<a href="/explore/posts/create"> Create new post</a>