{{#if post.length}}
  {{#each post}}
    <ul>
      <li>
        <h2> <a href="/explore/posts/{{_id}}">{{title}}</a></h2>
      </li>
      <img src="{{image}}" />
      <li>
        {{location}}
      </li>
      <li>
        {{description}}
      </li>
      <li>
        {{typeOfTrip}}
      </li>
    </ul>
  {{/each}}

{{else}}
{{/if}}

<a href="/explore/posts/create">Create new post</a>