<h2>{{post.title}}</h2>
<img src="{{post.image}}" />
<p>{{post.location}}</p>
<p>{{post.description}}</p>
<p>{{post.duration}} days</p>
<p>{{post.distance}} kms</p>
{{#each post.typeOfTrip}}
  <li>{{this}}</li>
{{/each}}
<h4>Itinerary</h4>

<button><a href="/explore/posts/{{post._id}}/day/create">Add days to your
    itinerary</a></button>
<button><a href="/explore/posts/{{post._id}}/edit">Edit post</a></button>