<h2>{{post.title}}</h2>
<img src="{{post.image}}" />
<p>{{post.location}}</p>
<p>{{post.description}}</p>
<p>{{post.duration}} days</p>
<p>{{post.distance}} kms</p>
{{#each post.typeOfTrip}}
  <li>{{this}}</li>
{{/each}}
<h4>Itinerary</h4>
{{#each post.itinerary}}
  <p>{{this.title}}</p>
  <p>{{this.location}}</p>
  <p>{{this.description}}</p>
  <button><a href="/explore/posts/{{post._id}}/edit">Edit Day</a></button>
{{/each}}
<button><a href="/explore/posts/{{post._id}}/edit">Edit post</a></button>
