{{#each post}}
<ul>
    <li>
        <strong>
            {{name}}
        </strong>
    </li>
    <li>
        {{location}}
    </li>
    <li>
        {{duration}} days
    </li>
    <li>
        {{distance}} km
    </li>
    <li>
        {{typeOfRoadtrip}}
    </li>
    <li>
        {{activities}}
    </li>
    <li>
        {{itinerary}}
    </li>
</ul>
{{/each}}

<a href="/explore/posts/create"> Create new post</a>